@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

:root{
    --main-color:#ff158a;
    --black:rgb(70, 70, 70);
    --light-color:#777;
    --bg: radial-gradient(circle, #25ff99, #00f1d6, #00dcff, #00c3ff, #5fa6f8);
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;
}


section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color:var(--black);
    padding-bottom: 3rem;
}

.heading span{
    color:var(--main-color);
    border-radius: .5rem;
    background: #46e3ff;
    padding:0 1.5rem;
}

.btn{
    margin-top: 1rem;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color:rgb(255, 255, 255);
    background:var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow:hidden;
    display: block;
    text-align: center;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background:var(--black);
    z-index: -1;
    transition: .2s ease-out;
}

.btn:hover::before{
    left:0;
    width:100%;
}
.colour{
    color:#e85454e5; 
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    background: rgb(255, 255, 255);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    color:var(--black);
    font-weight: bolder;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

#menu-btn{
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 10rem;
    background: var(--bg);
    position: relative;
}

.home .content{
    flex:1 1 45rem;
}

.home .image{
    flex:1 1 45rem;
}

.home .image img{
    width: 65%;
    position: relative;
    left: 20%;
}

.home .content h3{
    font-size: 4.5rem;
    color:var(--black);
    line-height: 1.8;
    padding-top: 5%;
}

.home .content p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.home .cloud{
    position: absolute;
    bottom: 0; right: 0; left: 0;
    height: 18rem;
    background-size: 250rem 18rem;
    background:url(../images/cloud.png) repeat-x;
    animation: cloud 10s linear infinite;
}

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    100%{
        background-position-x: -250rem;
    }
}

.home .cloud-1{
    opacity: .5;
    height:20rem;
    background-size: 250rem 20rem;
    animation-direction: reverse;
    animation-duration: 15s;
}


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 45rem;
    padding: 2rem;
}

.about .row .image img{
    width: 50%;
    position: relative;
    left: 25%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content .title{
    font-size:3rem;
    color:var(--black);
    text-align: center;
}

.about .row .content p{
    font-size:1.5rem;
    color:var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
    text-align: center;
}

.about .row .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 2rem;
}

.about .row .content .icons-container .icons{
    flex:1 1 15rem;
    border-radius: .5rem;
    border:var(--border);
    padding:1.5rem;
    text-align: center;
}

.about .row .content .icons-container .icons i{
    border-radius: 50%;
    background: var(--bg);
    color:var(--main-color);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}

.about .row .content .icons-container .icons h3{
    color:var(--light-color);
    font-size: 1.6rem;
    padding-top: 1rem;
}

.about .row .content .icons-container .icons p{
    font-size:1.2rem;
    color:var(--light-color);
    line-height: 1.5;
    padding: 1rem 1rem;
}

.about{
    background-color: #fff0fac9;
}

.footer{
    background: var(--bg);
}

.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color:var(--black);
}


.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color:var(--light-color);
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--main-color);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    color: var(--black);
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}

.footer .credit span{
    color:var(--main-color);
}













/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        background:rgb(255, 255, 255) !important  ;
        box-shadow: var(--box-shadow);
        border:var(--border);
        border-radius: .5rem;
        width: 30rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active{        
        transform: scale(1);
        opacity: 1;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        padding:1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover{
        background: var(--bg);
    }

    .home .content{
        padding-top: 30px;
        text-align: left;
    }
    
    .home .image img{
        
        width: 100%;
        
        
    }
    .about .row .content .icons-container{
        flex-direction: column;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}